:root {
  --main-color: #d95327;
  --main-light-color: #e25f34;
  --yellow-color: #f0a431;
  --yellow-light-color: #f5ad3f;
  --gray-color: #54555a;
  --gray-light-color: #7d889a;
  --dark-color: #161e29;
  --light-gray-color: #eeeeee;
  --light-color: #f1f1f1;
  --white-color: #ffffff;
  --body-color: #ffffff;
  --footer-color: #3e3e40;
  --hr-color: #c5c8cc;
  --red-color: #de1818;
  --human-skin-color: #f7eee1;
  --facebook-color: #1878f2;

  --navbar-item-margin: 1.875rem;
  --navbar-item-mobile-margin: 1.25rem;
  --main-gradient: linear-gradient(98.42deg, #d97227 0%, #c63e13 100%);
  --gray-gradient: linear-gradient(
    279.95deg,
    rgba(0, 0, 0, 0.44) -20.3%,
    rgba(255, 255, 255, 0.33) 104.99%
  );

  --hero-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.68) 0%,
    rgba(0, 0, 0, 0) 32.3%
  );
  --impressive-statisic-gradient: linear-gradient(
    98.42deg,
    #da7d28 0%,
    #cc5630 100%
  );
  --input-height: 34px;
  --input-modal-height: 45px;
  /* shadow */
  --shadow-lg: 0px 12px 25px rgba(0, 0, 0, 0.15);
  --shadow-md: 0px 6px 12px rgba(68, 79, 96, 0.13);
  /* image border radius style */
  --image-border-radius: 0 0 0.625rem 0;
  --image-border-large-radius: 0 0 2rem 0;
}

html {
  font-size: 12px;
}

a {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Kanit", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

header {
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

#menu-header__top .text-description:hover {
  color: var(--yellow-color);
}

#menu-header__behind a {
  letter-spacing: 0.01rem;
}

header a:hover {
  color: var(--main-color);
}

.text-heading {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.text-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#logo {
  margin-left: 1.25rem;
  margin-right: var(--navbar-item-margin);
}

#logo img {
  width: 140px;
}

#post-sales-button {
  width: 8.0625rem;
  height: 2.125rem;
  line-height: 2.125rem;
}

#menu-header-behind_setting {
  right: 0;
}

#menu-header-mobile_setting {
  right: 1rem;
}

#menu-header-mobile_setting a {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.menu-header-behind__item {
  margin-right: var(--navbar-item-mobile-margin);
}

.menu-header-behind__item:hover::after {
  display: block;
}

.submenu {
  min-width: 900px;
  top: calc(100%);
  padding: 1.5rem 1.5rem 0.5rem;
  box-shadow: var(--shadow-lg);
  border-top: 1px solid var(--main-color);
  display: none;
}

.menu-header-behind__item:hover .submenu {
  display: block;
}

#menu-header-behind__hambuger {
  margin-left: var(--navbar-item-mobile-margin);
}

/* header static: áp dụng cho các trang header màu trắng độ rộng full màn, không có bg */
header.static {
  position: relative;
  top: 0;
  /* display: flow-root; */
}

header.static > nav > div.w-100:first-child {
  background-color: var(--dark-color);
}

header.static > nav > div.w-100:last-child {
  box-shadow: var(--shadow-lg);
}

header.static #menu-header__behind {
  box-shadow: none;
}

header.static #logo {
  margin-left: 0;
}

/* footer */
footer {
  background: var(--footer-color);
}

#menu-footer__top {
  padding-top: 2.6875rem;
  padding-bottom: 2.6875rem;
  border-bottom: 1px solid var(--hr-color);
}

#menu-footer__bottom {
  padding-bottom: 2.375rem;
}

#social-icon img {
  width: var(--navbar-item-margin);
}

/* order */
.order a:not(:last-child) {
  margin-right: 2.5rem;
}

.order.inverse a:hover,
.order.inverse a.active {
  color: var(--white-color);
}

.order a.active::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: var(--yellow-color);
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.order a:hover,
.order a.active {
  color: var(--dark-color);
}

.order a.active::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: var(--yellow-color);
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

/* badge */
.badge {
  text-align: center;
}

/* tab */
.tab-nav {
  margin: 0 !important;
  padding-left: 0 !important;
}

.tab-nav .tab-item {
  list-style-type: none;
  width: 161px;
  height: 45px;
  padding-left: var(--navbar-item-margin);
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 22px;
}

.tab-item:hover {
  cursor: pointer;
}

.tab-nav .tab-item.active {
  background-color: var(--dark-color);
}

.tab-nav .tab-item a {
  font-size: 1rem;
  line-height: 22px;
}

.tab-content {
  padding-top: var(--navbar-item-margin);
  padding-bottom: var(--navbar-item-margin);
  padding-left: 1rem;
  padding-right: 1rem;
}

/* input */
input {
  height: var(--input-height);
  line-height: var(--input-height);
  font-size: 0.8125rem;
  text-indent: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
}

input:focus {
  outline: none !important;
}

.iconic-input .icon-wrap {
  top: 50%;
  transform: translateY(-50%);
  right: var(--navbar-item-mobile-margin);
}

/* select2 custom */
.select2-selection__placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
  text-indent: 1rem;
}

.select2-container .select2-selection--single,
.select2-selection__rendered,
.select2-selection__arrow {
  height: var(--input-height) !important;
  line-height: var(--input-height);
  border-radius: 0 !important;
  letter-spacing: 0.08rem;
  text-indent: 1rem;
}

.select2-selection__arrow > b {
  margin-top: -4px !important;
  border: none !important;
}

.select2-selection__arrow > b::after {
  content: "\f078";
  color: var(--main-color);
  font-weight: 500;
  font-family: "Font Awesome 5 Pro";
  font-size: 0.75rem;
  line-height: 8px;
  top: -2px;
  right: 0;
  position: absolute;
}

.select2-dropdown {
  border-radius: 0 !important;
  letter-spacing: 0.08rem;
}

/* forrm card */
.form-card {
  width: clamp(300px, 100%, 455px);
  padding: var(--navbar-item-margin);
}

/* responsive */
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  header {
    position: fixed;
    top: 0.6875rem;
  }
}
