:root {
  --main-color: #d95327;
  --main-light-color: #e25f34;
  --yellow-color: #f0a431;
  --yellow-light-color: #f5ad3f;
  --gray-color: #54555a;
  --gray-light-color: #7d889a;
  --dark-color: #161e29;
  --light-gray-color: #eeeeee;
  --light-color: #f1f1f1;
  --white-color: #ffffff;
  --body-color: #e5e5e5;
  --footer-color: #3e3e40;
  --hr-color: #c5c8cc;

  --navbar-item-margin: 1.875rem;
  --navbar-item-mobile-margin: 1.25rem;
  --main-gradient: linear-gradient(98.42deg, #d97227 0%, #c63e13 100%);
  --gray-gradient: linear-gradient(
    279.95deg,
    rgba(0, 0, 0, 0.44) -20.3%,
    rgba(255, 255, 255, 0.33) 104.99%
  );

  --hero-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.68) 0%,
    rgba(0, 0, 0, 0) 32.3%
  );

  --input-height: 34px;
}

a {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Kanit", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

header {
  z-index: 999;
}

#menu-header__behind a {
  letter-spacing: 0.01rem;
}

header a:hover {
  color: var(--main-color);
}

.text-heading {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.text-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#logo {
  margin-left: 1.25rem;
  margin-right: var(--navbar-item-margin);
}

#logo img {
  width: 140px;
}

#post-sales-button {
  width: 8.0625rem;
  height: 2.125rem;
  line-height: 2.125rem;
}

#menu-header-behind_setting {
  right: 0;
}

.menu-header-behind__item {
  margin-right: var(--navbar-item-mobile-margin);
}

#menu-header-behind__hambuger {
  margin-left: var(--navbar-item-mobile-margin);
}

/* section hero */
#hero .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hero-gradient);
  z-index: 2;
}

.swiper-button-next {
  right: 4.75rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--white-color);
  font-size: 1.5rem;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  left: 4.75rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--white-color);
  font-size: 1.5rem;
}

.swiper-button-prev::after {
  display: none;
}

.hero-slide-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#hero p {
  font-size: 1.25rem;
  line-height: 1.35rem;
  margin-bottom: 0;
}

#hero h1 {
  font-size: 3.4375rem;
  line-height: 5.125rem;
  margin-bottom: 1rem;
}

#hero a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 300;
}

#hero a:hover {
  color: var(--light-color);
}

/* footer */
footer {
  background: var(--footer-color);
}

#menu-footer__top {
  padding-top: 2.6875rem;
  padding-bottom: 2.6875rem;
  border-bottom: 1px solid var(--hr-color);
}

#menu-footer__bottom {
  padding-bottom: 2.375rem;
}

@media (min-width: 1200px) {
  .menu-header-behind__item {
    margin-right: var(--navbar-item-margin);
  }

  header {
    position: fixed;
    top: 0.6875rem;
  }
}

/* search */
#hop-tim-kiem {
  margin-top: -45px;
  position: relative;
  z-index: 9;
  margin-bottom: var(--navbar-item-margin);
}

#tu-khoa {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: var(--navbar-item-margin);
}

#tu-khoa .key-word {
  margin-right: 1.75rem;
  font-size: 0.875rem;
}

#tu-khoa .key-word:hover {
  color: var(--white-color);
}

#tim-kiem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#tim-kiem:hover {
  color: var(--light-gray-color);
}

/* option box */
.option-box {
  padding-left: 1.5625rem;
  height: 8.125rem;
}

.option-box h3 {
  font-size: 1.6875rem;
  line-height: 2.5rem;
}

.option-box i {
  font-size: 2rem;
}

#uu-dai img {
  right: 1.25rem;
}

.option-box::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  content: "";
  background: var(--gray-gradient);
  mix-blend-mode: overlay;
}

/* tab */
.tab-nav {
  margin: 0 !important;
  padding-left: 0 !important;
}

.tab-nav .tab-item {
  list-style-type: none;
  width: 161px;
  height: 45px;
  padding-left: var(--navbar-item-margin);
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 22px;
}

.tab-nav .tab-item.active {
  background-color: var(--dark-color);
}

.tab-nav .tab-item a {
  font-size: 1rem;
  line-height: 22px;
}

.tab-content {
  padding-top: var(--navbar-item-margin);
  padding-bottom: var(--navbar-item-margin);
  padding-left: 1rem;
  padding-right: 1rem;
}

/* input */
input {
  height: var(--input-height);
  line-height: var(--input-height);
  font-size: 0.8125rem;
  text-indent: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
}

input:focus {
  outline: none !important;
}

/* select2 custom */
.select2-selection__placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
  text-indent: 1rem;
}

.select2-container .select2-selection--single,
.select2-selection__rendered,
.select2-selection__arrow {
  height: var(--input-height) !important;
  line-height: var(--input-height);
  border-radius: 0 !important;
  letter-spacing: 0.08rem;
  text-indent: 1rem;
}

.select2-selection__arrow > b {
  margin-top: -4px !important;
  border: none !important;
}

.select2-selection__arrow > b::after {
  content: "\f078";
  color: var(--main-color);
  font-weight: 500;
  font-family: "Font Awesome 5 Pro";
  font-size: 0.75rem;
  line-height: 8px;
  top: -2px;
  right: 0;
  position: absolute;
}

.select2-dropdown {
  border-radius: 0 !important;
  letter-spacing: 0.08rem;
}
