:root {
  --main-color: #d95327;
  --main-light-color: #e25f34;
  --yellow-color: #f0a431;
  --yellow-light-color: #f5ad3f;
  --gray-color: #54555a;
  --gray-light-color: #7d889a;
  --dark-color: #161e29;
  --light-gray-color: #eeeeee;
  --light-color: #f1f1f1;
  --white-color: #ffffff;
  --body-color: #ffffff;
  --footer-color: #3e3e40;
  --hr-color: #c5c8cc;
  --red-color: #de1818;
  --human-skin-color: #f7eee1;

  --navbar-item-margin: 1.875rem;
  --navbar-item-mobile-margin: 1.25rem;
  --main-gradient: linear-gradient(98.42deg, #d97227 0%, #c63e13 100%);
  --gray-gradient: linear-gradient(
    279.95deg,
    rgba(0, 0, 0, 0.44) -20.3%,
    rgba(255, 255, 255, 0.33) 104.99%
  );

  --hero-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.68) 0%,
    rgba(0, 0, 0, 0) 32.3%
  );
  --impressive-statisic-gradient: linear-gradient(
    98.42deg,
    #da7d28 0%,
    #cc5630 100%
  );

  --input-height: 34px;

  /* home */
  --bg-car-list: #1d2c40;

  /* shadow */
  --shadow-lg: 0px 12px 25px rgba(0, 0, 0, 0.15);
  --shadow-md: 0px 6px 12px rgba(68, 79, 96, 0.13);

  /* image border radius style */
  --image-border-radius: 0 0 0.625rem 0;
  --image-border-large-radius: 0 0 2rem 0;
}

html {
  font-size: 12px;
}

a {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Kanit", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

header {
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

#menu-header__top .text-description:hover {
  color: var(--yellow-color);
}

#menu-header__behind a {
  letter-spacing: 0.01rem;
}

header a:hover {
  color: var(--main-color);
}

.text-heading {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.text-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#logo {
  margin-left: 1.25rem;
  margin-right: var(--navbar-item-margin);
}

#logo img {
  width: 140px;
}

#post-sales-button {
  width: 8.0625rem;
  height: 2.125rem;
  line-height: 2.125rem;
}

#menu-header-behind_setting {
  right: 0;
}

#menu-header-mobile_setting {
  right: 1rem;
}

#menu-header-mobile_setting a {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.menu-header-behind__item {
  margin-right: var(--navbar-item-mobile-margin);
}

.menu-header-behind__item:hover::after {
  display: block;
}

.submenu {
  min-width: 900px;
  top: calc(100%);
  padding: 1.5rem 1.5rem 0.5rem;
  box-shadow: var(--shadow-lg);
  border-top: 1px solid var(--main-color);
  display: none;
}

.menu-header-behind__item:hover .submenu {
  display: block;
}

#menu-header-behind__hambuger {
  margin-left: var(--navbar-item-mobile-margin);
}

/* section hero */
#hero .swiper-slide {
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: auto 50vh;
  background-position: top left;
}

#hero .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.swiper-button-next {
  right: 4.75rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--white-color);
  font-size: 1.5rem;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  left: 4.75rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--white-color);
  font-size: 1.5rem;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-pagination {
  top: 68%;
  left: var(--navbar-item-margin) !important;
  width: fit-content !important;
}

.swiper-pagination-bullet {
  background-color: var(--light-gray-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--yellow-color);
}

.hero-slide-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: var(--navbar-item-margin);
}

#hero a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 300;
}

#hero a:hover {
  color: var(--light-color);
}

/* footer */
footer {
  background: var(--footer-color);
}

#menu-footer__top {
  padding-top: 2.6875rem;
  padding-bottom: 2.6875rem;
  border-bottom: 1px solid var(--hr-color);
}

#menu-footer__bottom {
  padding-bottom: 2.375rem;
}

#social-icon img {
  width: var(--navbar-item-margin);
}

/* search */
#hop-tim-kiem {
  margin-top: -45px;
  position: relative;
  z-index: 9;
  margin-bottom: var(--navbar-item-margin);
}

#tu-khoa {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: var(--navbar-item-margin);
}

#tu-khoa .key-word {
  margin-right: 1.75rem;
  font-size: 0.875rem;
}

#tu-khoa .key-word:hover {
  color: var(--white-color);
}

#tim-kiem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#tim-kiem:hover {
  color: var(--light-gray-color);
}

/* option box */
#lua-chon {
  margin-bottom: var(--navbar-item-margin);
}

.option-box {
  padding-left: 10px;
  padding-top: 8px;
  padding-right: 21px;
  height: 58px;
}

.option-box img {
  z-index: 0;
}

.option-box h3 {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.option-box i {
  font-size: 2rem;
}

#uu-dai img {
  right: 1.25rem;
}

.option-box::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  content: "";
  background: var(--gray-gradient);
  mix-blend-mode: overlay;
}

/* danh sach xe */
#danh-sach-xe {
  margin-bottom: var(--navbar-item-margin);
  padding-top: var(--navbar-item-margin);
  padding-bottom: var(--navbar-item-margin);
  background-color: var(--bg-car-list);
  min-height: 61.5625rem;
}

#tire-top,
#tire-bottom {
  max-width: 50%;
  z-index: 1;
}

.subtitle {
  letter-spacing: 0.215rem;
}

.section-heading {
  margin-bottom: var(--navbar-item-margin);
}

.gift-bar {
  bottom: 0.625rem;
  left: 0.625rem;
}

.gift-box {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  margin-right: 0.3125rem;
}

.gift-box img {
  width: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gift-tag {
  width: 2.4375rem;
  height: 1rem;
  border-radius: 0 0 5px 0;
  line-height: 1rem;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  top: 0.5rem;
  right: 1rem;
  letter-spacing: 0.1rem;
}

.car-card {
  margin-bottom: var(--navbar-item-margin);
}

.car-card .card-body {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.car-card .card-body h5 {
  font-size: 1rem;
  line-height: 1.125rem;
  margin-bottom: 0.625rem;
}

.price {
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 1rem;
}

.car-card .card-footer {
  border-radius: 0 !important;
}

.car-img {
  padding: 2px;
  height: 2px;
  width: 1.5rem;
  height: 1.5rem;
}

.car-img img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.watch-more {
  padding: 0.5rem 5rem;
  border: 1px solid var(--yellow-color);
}

.watch-more:hover {
  color: var(--yellow-light-color);
}

/* bảng giá xe */
#bang-gia-xe {
  margin-bottom: 3.125rem;
}

.car-brand {
  border-bottom: 1px solid var(--light-gray-color);
}

.car-brand:not(:last-child) {
  border-right: 1px solid var(--light-gray-color);
}

.car-brand:hover,
.car-brand.active {
  background-color: var(--light-gray-color);
}

.car-brand svg:hover {
  fill: #002d77;
}

.car-brand.active svg {
  fill: #002d77;
}

.car-brand::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.car-brand svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car-brand .badge {
  font-size: 1rem;
  right: var(--navbar-item-mobile-margin);
  display: none;
}

.car-brand.active .badge {
  display: block;
}

#tat-ca-danh-sach {
  padding: var(--navbar-item-margin);
}

#tat-ca-danh-sach a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(6ch, 75%, 12ch);
  font-size: 1rem;
  line-height: 1.5rem;
}

#tat-ca-danh-sach i {
  font-size: 2rem;
  line-height: 1.5rem;
}

#tat-ca-danh-sach:hover a,
#tat-ca-danh-sach:hover i {
  color: var(--main-light-color);
}

.car-brand.active:not(#tat-ca-danh-sach)::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--dark-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#bang-gia-xe .popup {
  padding: 2.5rem 3.125rem;
}

#bang-gia-xe .popup h2 {
  font-size: 2.25rem;
  line-height: 3rem;
}

.price-table-image__item img {
  border-radius: var(--image-border-radius);
}

/* bang xep hang xe */
#list-xep-hang {
  margin-bottom: 2.5rem;
}

#list-xep-hang a:hover {
  color: var(--gray-color);
}

#list-xep-hang img {
  border-radius: var(--image-border-large-radius);
}

/* goc nhin chuyen gia */
#goc-nhin-chuyen-gia {
  padding: 2.5rem 0;
  min-height: 50vh;
  background-image: url("/Assets/image/goc-nhin-chuyen-gia.jpg");
  background-color: rgba(22, 30, 41, 0.8);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

.special-content {
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.special-content h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

#list-chuyen-gia a {
  margin-bottom: var(--navbar-item-margin);
}

/* tin-tuc-noi-bat */
#tin-tuc-noi-bat {
  padding: 2.5rem 0;
  min-height: 50vh;
}

#list-tin a {
  margin-bottom: var(--navbar-item-margin);
}

#list-tin a:hover {
  color: var(--gray-color);
}

.news-item h5 {
  margin-bottom: 1.25rem;
}

.news-item-content {
  padding: 1.25rem;
}

.news-item-date {
  bottom: 1.25rem;
  letter-spacing: 0.2rem;
}

/* trai nghiem cung vua xe */
#trai-nghiem-cung-xua-xe {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-image: url("/Assets/image/trai-nghiem-cung-vua-xe.jpg");
  background-color: rgba(22, 30, 41, 0.8);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.experience-item {
  min-height: 6rem;
}

.experience-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: var(--yellow-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.2s ease-in;
}

.experience-item:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}

.experience-item > div:first-child {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.experience-item:hover > div:last-child {
  background-color: var(--dark-color);
}

#trai-nghiem-thumb h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 2.25rem;
}

/* thong ke an tuong */
#thong-ke-an-tuong .col-lg-6:nth-child(2) {
  padding-top: 1.25rem;
}
#thong-ke-an-tuong .text-heading {
  margin-bottom: var(--navbar-item-margin);
}

#thong-ke-an-tuong h2 {
  font-size: 2.1875rem;
  line-height: 3.25rem;
}

#thong-ke-an-tuong .statistic-text {
  min-width: 12.5rem;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 8rem;
}

#thong-ke-an-tuong .statistic-text h2 {
  font-size: 3rem;
}

#thong-ke-an-tuong .statistic-content {
  padding-top: var(--navbar-item-margin);
}

/* order */
.order a:not(:last-child) {
  margin-right: 2.5rem;
}

.order.inverse a:hover,
.order.inverse a.active {
  color: var(--white-color);
}

.order a.active::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: var(--yellow-color);
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.order a:hover,
.order a.active {
  color: var(--dark-color);
}

.order a.active::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: var(--yellow-color);
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

/* badge */
.badge {
  text-align: center;
}

/* tab */
.tab-nav {
  margin: 0 !important;
  padding-left: 0 !important;
}

.tab-nav .tab-item {
  list-style-type: none;
  width: 161px;
  height: 45px;
  padding-left: var(--navbar-item-margin);
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 22px;
}

.tab-nav .tab-item.active {
  background-color: var(--dark-color);
}

.tab-nav .tab-item a {
  font-size: 1rem;
  line-height: 22px;
}

.tab-content {
  padding-top: var(--navbar-item-margin);
  padding-bottom: var(--navbar-item-margin);
  padding-left: 1rem;
  padding-right: 1rem;
}

/* input */
input {
  height: var(--input-height);
  line-height: var(--input-height);
  font-size: 0.8125rem;
  text-indent: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
}

input:focus {
  outline: none !important;
}

/* select2 custom */
.select2-selection__placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
  text-indent: 1rem;
}

.select2-container .select2-selection--single,
.select2-selection__rendered,
.select2-selection__arrow {
  height: var(--input-height) !important;
  line-height: var(--input-height);
  border-radius: 0 !important;
  letter-spacing: 0.08rem;
  text-indent: 1rem;
}

.select2-selection__arrow > b {
  margin-top: -4px !important;
  border: none !important;
}

.select2-selection__arrow > b::after {
  content: "\f078";
  color: var(--main-color);
  font-weight: 500;
  font-family: "Font Awesome 5 Pro";
  font-size: 0.75rem;
  line-height: 8px;
  top: -2px;
  right: 0;
  position: absolute;
}

.select2-dropdown {
  border-radius: 0 !important;
  letter-spacing: 0.08rem;
}

/* responsive */
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  header {
    position: fixed;
    top: 0.6875rem;
  }

  .menu-header-behind__item {
    margin-right: var(--navbar-item-margin);
  }

  /* hero */
  #hero .swiper-slide::before {
    background: var(--hero-gradient);
  }

  .hero-slide-content {
    padding: 10px;
  }

  #hero p {
    font-size: 1.25rem;
    line-height: 1.35rem;
    margin-bottom: 0;
  }

  #hero h1 {
    font-size: 3.4375rem;
    line-height: 5.125rem;
    margin-bottom: 1rem;
  }

  /* option box */
  .option-box {
    padding-left: 1.5625rem;
    height: 8.125rem;
  }

  .option-box h3 {
    font-size: 1.6875rem;
    line-height: 2.5rem;
  }

  /* list car */
  .gift-tag {
    margin-left: auto;
    margin-right: var(--navbar-item-margin);
  }

  /* tin tuc noi bat */
  #list-tin > a:last-child .news-item-content {
    min-height: 16.25rem;
  }

  #tin-tuc-noi-bat h2 {
    margin-bottom: var(--navbar-item-margin);
  }

  /* thong ke an tuong */
  #thong-ke-an-tuong .statistic-content img {
    top: -25%;
    right: 0;
  }

  /* thong ke an tuong */
  #thong-ke-an-tuong .col-lg-6:nth-child(2) {
    padding-top: 2.5rem;
    padding-left: 3.375rem;
  }

  /* subtitle */
  .subtitle {
    letter-spacing: 0.3125rem;
  }
}
